services:
  mysql:
    image: mysql:8.0
    container_name: hotel-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_AUTH}
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    restart: unless-stopped

  auth-service:
    build: ./auth-service
    ports:
      - "4000:4000"
    container_name: hotel-auth
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_AUTH}
      JWT_SECRET: ${JWT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      FACEBOOK_APP_ID: ${FACEBOOK_APP_ID}
      FACEBOOK_APP_SECRET: ${FACEBOOK_APP_SECRET}
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped

  hotel-service:
    build: ./hotel-service
    ports:
      - "4001:4001"
    container_name: hotel-service
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_HOTEL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped

  booking-service:
    build: ./booking-service
    ports:
      - "4002:4002"
    container_name: hotel-booking
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_BOOKING}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      SES_EMAIL_SOURCE: ${SES_EMAIL_SOURCE}
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped

  user-service:
    build: ./user-service
    ports:
      - "4003:4003"
    container_name: hotel-user
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_USER}
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped

  review-service:
    build: ./review-service
    ports:
      - "4004:4004"
    container_name: hotel-review
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_REVIEW}
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:5173"
    container_name: hotel-app
    environment:
      VITE_API_AUTH_URL: "http://auth-service:4000"
      VITE_API_HOTEL_URL: "http://hotel-service:4001"
      VITE_API_BOOKING_URL: "http://booking-service:4002"
      VITE_API_USER_URL: "http://user-service:4003"
      VITE_API_REVIEW_URL: "http://review-service:4004"
    depends_on:
      - auth-service
      - hotel-service
      - booking-service
      - user-service
      - review-service
    restart: unless-stopped

volumes:
  mysql_data:
